@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Work+Sans&display=swap');
.perfil{
    background-image: url("../img/Diseño\ sin\ título-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
   
}
.perfilderecho{
    background-image: url("../img/textura-negra-min.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
   
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(12, 112, 170, 0.788);
    font-weight: 900;
}
.perfil p{
    font-family: 'Work Sans', sans-serif;
    color: rgb(224, 224, 224);
    font-size: 1.5em;
    font-weight: 400;
}
.perfil ul li{
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    margin: 20px;
    
}
.perfil ul li i{
    color: white;
    text-shadow: 1.5px 1.5px 1.5px rgba(12, 112, 170, 0.788);
}
